html {
    width: 100%;
    height: 100%;
    background-color: white;
}

body {
    width: 100%;
    height: 100%;
    margin: auto;

}
div.tokyo {
    width: 100%;
    height: 50%;
}
		
div.tokyo_fukidashi {
    width: 50%;
    position: relative;
    float: left;
}

div.tokyo_char {
    width: 50%;
    float: left;
}

div.tokyo_speech {
    width: 50%;
    position: absolute;
    float:right;
}


div.osaka {
    width: 100%;
    height: 50%;
}
/* div.osaka_fukidshi { */
/*     width: 50%; */
/* } */

div.osaka_speech {
    width: 50%;
    height: auto;
}

div.osaka_char {
    width: 50%;
    height: auto;
}

