html {
    width: 100%;
    height: 100%;
    background-color: white;
}

body {
    width: 100%;
    height: 100%;
    margin: auto;

}
div.tokyo {
    width: 100%;
    height: 50%;
}
		

div.tokyo_char {
    width: 50%;
    float: left;
}

div.input_speech {
    width: 50%;
    float: left;
}

div.tokyo_fukidashi {
    width: 100%;
    position:relative;
}

div.tokyo_speech {
    width: 50%;
    position:absolute;
    top:15%;
}


div.osaka {
    width: 100%;
    height: 50%;
}

div.osaka_char {
    width: 50%;
    height: 100%;
    float: right;
}

div.output_speech {
    width: 50%;
    float: right;
}

div.osaka_fukidshi {
    width: 100%;
    position:relative;
}

div.osaka_speech {
    width: 50%;
    position: absolute;
    bottom: 25%;
}


